<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <link rel="icon" href="/img/weather.png">
        <lnik rel="icon" href="/img/weather.png"></lnik>
         <link rel="stylesheet" href="/css/styles.css"></link>
    </head>

    <body>
        <div main="main-content">
        {{>header}}
        {{>error}}
        </div>

        {{>footer}}
    </body>

</html>